.modal {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 50%;
  padding: 1rem 2rem;
}



@font-face {
    font-family: Etelka; /* Гарнитура шрифта */
    src: url(EtelkaPro-Bold.ttf); /* Путь к файлу со шрифтом */
   }


.modal a {
  color: #bf0222;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(200, 200, 200, 0.6);
  }

  .warning {
    display: none;
  }
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("back.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	backdrop-filter: blur(15px);

}
p {
  text-align: justify;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}




.parent {
  display: grid;
grid-template-columns: 0.3fr repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr) 0.2fr;
grid-column-gap: 0px;
grid-row-gap: 0px;



}

.div1 { grid-area: 1 / 1 / 2 / 2;
  align-self: center;
    justify-self: center; }
.div2 { grid-area: 2 / 1 / 3 / 2;
  align-self: center;
    justify-self: center; }
.div3 { grid-area: 1 / 2 / 3 / 4;
  align-self: center;
    justify-self: center; }
.div4 { grid-area: 3 / 1 / 4 / 2;
  align-self: center;
    justify-self: center; }
.div5 { grid-area: 3 / 2 / 4 / 3;
  align-self: center;
    justify-self: center; }
.div6 { grid-area: 3 / 3 / 4 / 4;
  align-self: center;
    justify-self: center; }
